/* Password Section Styles */
.profile-sections {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.password-sec-full-cell {
  border-radius: 5px;
  padding: 0;
  padding-left: 0.8rem;
  height: 2.5rem;
}
.password-sec-full-cell span {
  font-size: 0.8rem;
  font-weight: 400;
  color: #6d6d6d;
}
.password-button-parent {
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.password-button {
  height: 100%;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 0.7rem;
  width: 6rem;
}

/* Responsive Media Queries for Password Section */
@media (max-width: 1080px) {
  .password-sec-full-cell span {
    font-size: 0.7rem;
  }

  .password-button {
    font-size: 0.8rem;
    width: 5rem;
  }
}

@media (max-width: 768px) {
  .password-sec-full-cell span {
    font-size: 0.65rem;
  }

  .password-button {
    font-size: 0.7rem;
    width: 5rem;
  }
}

@media (max-width: 480px) {
  .password-sec-full-cell span {
    font-size: 0.55rem;
  }

  .password-button {
    font-size: 0.65rem;
    width: 4.5rem;
  }
}

@media (max-width: 375px) {
  .password-sec-full-cell span {
    font-size: 0.55rem;
  }

  .password-button {
    font-size: 0.6rem;
    width: 4rem;
  }
}
