@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

.font-dm-serif {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes moveRadial {
  0% {
    background-position: left top;
  }
  25% {
    background-position: right top;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: left bottom;
  }
  100% {
    background-position: left top;
  }
}

.bg-animated-radial {
  background: radial-gradient(
    circle,
    #feac2f,
    #9b32ad,
    #381ab2,
    #17082c
  );
  background-size: 200% 200%;
  background-repeat: no-repeat;
  animation: moveRadial 20s linear infinite;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
