body {
  font-family: Public Sans;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.parent-book-dashboard-unit {
  width: 67%;
  /* background-color: chartreuse; */
  padding-left: 3rem;
  padding-right: 3rem;
}

.dropdown-cont {
  /* max-width: 58vw; */
  display: flex;
  justify-content: flex-end;
  /* margin-top: 6vh; */
}

.common-css-dropdown {
  box-sizing: border-box;
  background: linear-gradient(0deg, #f2f2f2, #f2f2f2),
    linear-gradient(0deg, #e6e6e6, #e6e6e6);
  border: none;
  width: 14vw;
  height: 5vh;
  padding: 0.5vh 1vw;

  color: black;
  font-family: Public Sans;
  font-size: 1.5vh;
  font-weight: 500;
  display: flex;
  align-content: center;
  justify-content: center;
}

.book-dashboard-dropdown {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  width: 11.4vw;
  min-width: 120px;
  height: 3.6vh;
  padding: 0.5vh 1vw;
  border-radius: 8px;

  color: #727272;
  font-family: Public Sans;
  font-size: 1.5vh;
  font-weight: 400;
  /* display: flex;
  align-content: center;
  justify-content: center; */
}

.book-dashboard-question-summary-container {
  margin-top: 7rem;
  /* background-color: aqua; */
  width: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.book-dashboard-question {
  box-sizing: border-box;
  background: #f5f5f5;
  padding: 1.2vw 3vh;
  border-radius: 10px 10px 0px 0px;
  width: 100%;

  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  font-size: 2.1vh;
  /* align-items: left; */
  color: #000000;

  /* position: sticky; */
  /* top: 12rem; */
  /* z-index: 1000; */
}

.book-dashboard-answer {
  /* margin-top: 0.7vh; */
  background: #f5f5f5;
  padding: 1.8vh 1.8vw;
  border-radius: 0px 0px 10px 10px;

  font-family: Public Sans;
  font-size: 1.7vh;
  font-weight: 400;
  /* line-height: 3vh; */
  text-align: justify;
  color: #2f2f2f;
  /* color: aqua; */
}

.book-dashboard-answer img {
  width: 100%;
  margin: 2vh 0;
}

/* Laptop view (show list, hide dropdown) */
/* @media (min-width: 1024px) {  */
/* hr {
    display: none;
  }
}

/* Tablet view (show dropdown, hide list) */

@media (max-width: 1023px) {
  .parent-book-dashboard-unit {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .parent-book-dashboard-unit {
    padding-left: 1rem;
    padding-right: 1rem;
  }

}