.courses {
    padding-top: 5%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 6%;
}

.courses-title {
    background-color: rgb(255, 255, 255);
    padding: 55px;

}

.courses-sections {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

.courses-cards {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.each-course {
    margin-bottom: 10px;
    margin-left: 11%;
    border-radius: 10px;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    cursor: pointer;
}

.course-text {
    width: 75%;
    padding: 2%;
}

.sub-name {
    margin-bottom: 2%;
}


.course-img {
    width: 25%;
}

.course-tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.tag-shape {
    background-color: #FFFFFF;
    border-radius: 27px;
    padding: 10px 15px 10px 15px;
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 16.45px;
    color: #2F2F2F;
}

.courses-side-sections {
    /* border: 2px solid black; */
    background-color: rgb(255, 255, 255);
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 5%;
}

.relevant-tags {
    background-color: rgb(255, 255, 255);
    margin-top: 8%;
    margin-bottom: 8%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.tag-shape-grey {
    background-color: #E6E6E6;
    border-radius: 27px;
    padding: 10px 15px 10px 15px;
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 16.45px;
    color: #2F2F2F;
}

@media (max-width: 1024px) {
    /* todo */
}

@media (max-width: 768px) {
    /* tood */
}


@media (max-width: 480px) {
    .courses-sections {
        flex-direction: column;
        align-items: flex-start;
    }

    .courses-side-sections {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0%;
    }

    .relevant-tags {
        justify-content: center;
    }

    .search-more-btn {
        display: flex;
        justify-content: center;
    }

    .search-more-btn button {
        background-color: #000000;
        color: #FFFFFF;
    }

    .each-course {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        width: 272px;
        flex: 0 0 auto;
    }

    .courses-title {
        display: flex;
        justify-content: center;
    }

    .courses-cards {
        width: 90%;
        margin-left: 0%;
        margin-right: 0%;
        gap: 10px;
        overflow-x: auto;
        padding: 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        overflow-x: auto;
        margin-bottom: 20px;
    }

    .course-img {
        width: 100%;
        border-radius: 5px;
    }

    .course-img img {
        width: 100%;
        border-radius: 5px;
    }


    .course-desc {
        font-size: 10px;
        line-height: 16.45px;
        width: 252px;
    }

    .tags-section {
        width: 252px;
    }

    .tag-shape {
        font-size: 12px;
        font-weight: 400;
        line-height: 15.28px;
        text-align: left;
        padding: 4px 10px 4px 10px;
        border-radius: 27px;
    }

    .side-section-title {
        text-align: center;
        padding: 10px;
    }

    .relevant-tags {
        padding: 10px;
    }



}