.membership-page-about-sec {
  margin-top: 60vh;
  height: 350px;
  display: flex;
}

.membership-page-about-sec-left {
  width: 55%;
}

.membership-page-abt-h1 {
  font-size: 5.8vh;
  font-weight: 400;
  text-align: left;
}

.membership-page-about-sec-right {
  position: relative;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 0;
  right: 0;
}
.membership-page-about-sec-right-content {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: justify;
  position: absolute;
  color: #000000;
}

.membership-page-about-sec-right img {
  width: 100%;
}

/* General Media Query for Smaller Screens */
@media (max-width: 1200px) {
  /* .membership-page-about-sec {
    margin-top: 50vh;
    align-items: self-end;
    background-color: pink;
  } */
  .membership-page-about-sec-right {
    height: 300px;
  }
  .membership-page-about-sec {
    margin-top: 350px;
  }

  .membership-page-about-sec-left,
  .membership-page-about-sec-right {
    width: 100%;
  }

  .membership-page-abt-h1 {
    font-size: 2.5vh;
    text-align: left;
  }

  .membership-page-about-sec-right-content {
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
  }
}

/* Tablet Screens */
@media (max-width: 768px) {
  .membership-page-about-sec {
    margin-top: 40vh;
    align-items: self-end;
  }

  .membership-page-abt-h1 {
    font-size: 4vh;
    margin-bottom: 15px;
    text-align: left;
  }

  .membership-page-about-sec-right {
    width: 80%;
  }
  .membership-page-about-sec-right-content {
    font-size: 11px;
    line-height: 18px;
    text-align: justify;
  }

  .membership-page-about-sec-right img {
    width: 90%;
    margin: 0 auto;
  }
}

/* Mobile Screens */
@media (max-width: 480px) {
  .membership-page-about-sec {
    margin-top: 850px;
    padding: 0 10px;
    height: 220px;
    flex-direction: column;
  }

  .membership-page-abt-h1 {
    font-size: 3.5vh;
    text-align: left;
  }
  .membership-page-about-sec-right {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .membership-page-about-sec-right-content {
    font-size: 10px;
    line-height: 16px;
    text-align: justify;
  }

  .membership-page-about-sec-right img {
    width: 80%;
  }
}
