/* index.css */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

/* ------------ For Reviewer Mode ------------ */
@theme {
  --color-white: hsl(0, 0%, 95%);

  /* Dark Mode */
  --color-dark-card: hsl(0, 0%, 5%);
  --color-dark-highlight: hsl(0, 0%, 10%);
  --color-dark-more-highlighted: hsl(0, 0%, 17%);
  --color-dark-hover: hsl(0, 0%, 15%);
  --color-dark-text-muted: hsl(0, 0%, 70%);
  --color-dark-border: hsl(0, 0%, 20%);

  /* Light Mode */
  --color-light-card: hsl(0, 0%, 95%);
  --color-light-text: hsl(0, 0%, 30%);
  --color-light-border: hsl(0, 0%, 80%);
  --color-light-hover: hsl(0, 0%, 90%);
}

@custom-variant dark (&:where(.dark, .dark *));

/* Hover Tooltip */
.info-tooltip {
  z-index: 10;
  background: white;
}

.info-tooltip::after {
  content: "\25B2";
  position: absolute;
  top: -25.5px;
  font-size: 25px;
  right: 30px;
  text-shadow: 0px -1px 1px rgb(190, 189, 189);
  color: rgb(255, 255, 255);
  z-index: 1;
}

/* Gradient Border */
.gradient-button::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(90deg, #381ab2, #9b32ad, #feac2f);
  z-index: -1;
  border-radius: 7px;
  width: calc(100% + 5px);
  height: calc(100% + 4px);
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  margin: 5px 0;
  background: hsl(0, 0%, 95%);
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 70%);
  border-radius: 8px;
  border: 2px solid hsl(0, 0%, 95%);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 80%);
}

/* ---- CK Editor Styles ----*/
.cke {
  border: 2px solid hsl(0, 0%, 90%) !important;
  overflow: hidden;
  border-radius: 10px;
}

/* --------------------------------------------- */

/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900



*/

/*  Whatever is defined in the root could be used anywhere in the css
    or any other file as well, it is like a variable.
*/

:root {
  --colour-gradient: linear-gradient(
    45deg,
    #feac2f 25%,
    /* Color 1 starts at 10% */ #9b32ad 45%,
    /* Color 2 starts at 25% */ #381ab2 65%,
    /* Color 3 starts at 40% */ #17082c 85% /* Color 4 starts at 60% */
  );
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  background-color: hsl(0, 0%, 95%);
  width: 10px;
}

html::-webkit-scrollbar-track {
  margin: 5px 0;
  background: hsl(0, 0%, 95%);
  border-radius: 2px;
}

html::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 70%);
  border-radius: 8px;
  border: 2px solid hsl(0, 0%, 95%);
}

html::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 80%);
}

root {
  width: 100%;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
root {
  font-family: "Public Sans", sans-serif;
  width: 100%;
  height: 100%;
}

.colourful-border-btn {
  position: relative;
  display: inline-block;
  border-radius: 8px;
  background-color: #eaeaea;
  /* Default background color */
  padding: 20px 40px;
  margin: 2%;
  gap: 10px;
  width: 250px;
  height: 60px;
  border: none;
  /* Initially no visible border */
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.colourful-border-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  padding: 3px;
  /* The size of the border */
  background: linear-gradient(
    45deg,
    #feac2f 20%,
    #9b32ad 45%,
    #381ab2 75%,
    #17082c 95%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  /* Clips the background to the border */
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  /* Ensures the background only appears on the border */
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.colourful-border-btn:hover::before {
  opacity: 1;
  /* Show the gradient border on hove    r */
}

.colourful-border-btn:hover {
  color: #000000;
  /* Change text color */
  background-color: #eaeaea;
  /* Keep the button's background color unchanged */
  border: none;
  /* Ensure no default border appears */
}

.transparent-bg-btn {
  padding: 10px 20px;
  background-color: white;
  color: #333;
  border: white;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid white;
  width: 163px;
  height: 50px;
  margin-top: 5%;
  transition: all 0.3s ease-out;
}

.transparent-bg-btn:hover {
  color: white;
  border: 2px solid white;
  background-color: transparent;
  transition: all 0.3s ease-in;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

.font-public-sans-navbar {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 18.8px;
  align-items: center;
  text-decoration: none;
}

.font-colourful-border-btn {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 18.8px;
  align-items: center;
  color: #000000;
  cursor: pointer;
}

.font-black-btn {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 18.8px;
  align-items: center;
  color: #ffffff;
}

.font-paragraph {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  align-items: right;
  color: #000000;
}

.font-heading-black {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  line-height: 70.5px;
  align-items: right;
  color: #000000;
  letter-spacing: -3%;
}

.font-subheading-black {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
  align-items: left;
  color: #000000;
}

.font-paragraph-black-light {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  align-items: left;
  color: #727272;
}

.font-heading-white {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  line-height: 74px;
  align-items: right;
  color: #ffffff;
  letter-spacing: -3%;
}

.font-paragraph-white-light {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  align-items: light;
  color: #f9f9f9;
  text-align: justify;
}

.font-paragraph-black-light {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  align-items: light;
  color: #2f2f2f;
}

.font-paragraph-grey {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #727272;
}

.font-otp-grey {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21.15px;
  color: #727272;
}

.font-paragraph-white {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18.8px;
  align-items: center;
  color: #ffffff;
}

.font-paragraph-black {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18.8px;
  align-items: center;
  color: #000000;
}

.font-profile-dropdown {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18.8px;
  align-items: center;
  color: #000000;
}

.font-mark-read-btn {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  align-items: center;
  color: #272727;
}

.font-notification {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #2f2f2f;
}

.heading-500-30-black {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  line-height: 28px;
  color: #000000;
}

.profile-sidebar-text {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

/* For table cells */

.half-cell {
  background-color: #ffffff;
  height: 58px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
}

.full-cell {
  background-color: #ffffff;
  height: 58px;
  width: 96.25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
}

.only-full-cell {
  background-color: #ffffff;
  height: 58px;
  width: 96.25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
  border-radius: 8px 8px 8px 8px;
}

.first-full-cell {
  background-color: #ffffff;
  height: 58px;
  width: 96.25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
  border-radius: 8px 8px 0px 0px;
}

.last-full-cell {
  background-color: #ffffff;
  height: 58px;
  width: 96.25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
  border-radius: 0px 0px 8px 8px;
}

.div-row-end-align {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.border-left-both-corner {
  border-radius: 8px 0px 0px 8px;
}

.border-right-both-corner {
  border-radius: 0px 8px 8px 0px;
}

.otp-heading {
  font-family: Public Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.2px;
  text-align: center;
  color: #000000;
}

@media (max-width: 1024px) {
  .font-heading-black {
    font-family: Public Sans;
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: -0.03em;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .font-heading-black {
    font-family: Public Sans;
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: -0.03em;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .font-heading-black {
    font-family: Public Sans;
    font-size: 25px;
    font-weight: 400;
    line-height: 29.38px;
    letter-spacing: -0.03em;
    text-align: left;
  }

  .font-subheading-black {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 6vw;
    line-height: 6vw;
    align-items: left;
    color: #000000;
  }

  .font-paragraph-black-light {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 4vw;
    line-height: 5.5vw;
    align-items: left;
    color: #727272;
  }
}

.card-black-heading {
  font-family: Public Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.5px;
  text-align: left;
  color: #000;
}

.card-grey-heading {
  font-family: Public Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.45px;
  text-align: left;
  color: #727272;
}

.font-header {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
  color: #ffffff;
  text-align: left;
}

.font-ul {
  font-family: "Public Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #2f2f2f;
}

.font-heading {
  font-family: Public Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.5px;
  color: #000000;
}
